<footer class="footer-07 pt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <p class="menu">
                    <a href="#">Home</a>
                    <a href="#">Agent</a>
                    <a href="#">About</a>
                    <a href="#">Listing</a>
                    <a href="#">Blog</a>
                    <a href="#">Contact</a>
                </p>
                <ul class="ftco-footer-social p-0">
                    <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Github"><span class="fa-brands fa-github"></span></a></li>
                    <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><span class="ion-logo-facebook"></span></a></li>
                    <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><span class="ion-logo-instagram"></span></a></li>
                </ul>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12 text-center">
                <p class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy; 2023 All rights reserved | This application was made <i class="ion-ios-heart" aria-hidden="true"></i> by <a href="https://github.com/kleberkunha" target="_blank">Kleber da Cunha</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
        </div>
    </div>
</footer>
