<form class="p-5 text-white form-login-index">
  <!-- Email input -->
  <div class="form-outline">
    <input type="email" id="form2Example1" class="form-control" />
    <label class="form-label" for="form2Example1">Email address</label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input type="password" id="form2Example2" class="form-control" />
    <label class="form-label" for="form2Example2">Password</label>
  </div>

  <!-- 2 column grid layout for inline styling -->
  <div class="row mb-4">
    <div class="col d-flex justify-content-center">
      <!-- Checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
        <label class="form-check-label text-white" for="form2Example31"> Remember me </label>
      </div>
    </div>

    <div class="col text-white">
      <!-- Simple link -->
      <a class="text-white" href="#!">Forgot password?</a>
    </div>
  </div>

  <!-- Submit button -->
  <button type="button" class="btn btn-primary btn-block mb-3 text-white">Sign in</button>

  <!-- Register buttons -->
  <div class="text-center">
    <p class="text-white not-remember">Not a member?</p>
    <a class="text-white register-user" href="#!">Register</a>
  </div>
</form>
