.headerHome{
    z-index: 0;
    margin-top: -10vh;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    .content-bloc{
        width: 80%;
        display: flex;
        justify-content: space-around;
        margin-bottom: -18vh;

        .bloc-1{
            color: white;
            border: 1px solid rgb(0, 255, 13);
            height: 25vh;
            background-color: white;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            box-shadow: 0px 3px 0px 0px white;
        }
        .bloc-1:hover{
            cursor: pointer;
            background-color: rgb(238, 238, 238);
        }
    }



}

