<div class="container-fluid headerHome">
    <div class="row content-bloc">
        <div class="col-sm-3 bloc-1">
        </div>
        <div class="col-sm-3 bloc-1">
        </div>
        <div class="col-sm-3 bloc-1">
        </div>
    </div>
</div>

