<h1>Editing coding language</h1>

<%= render "form", coding_language: @coding_language %>

<br>

<div>
  <%= link_to "Show this coding language", @coding_language %> |
  <%= link_to "Back to coding languages", coding_languages_path %>
</div>
