


<div class="col-lg-10">
    <%= search_form_for @q, url: :user_index do |f| %>
        <%= f.search_field :first_name_cont %>

        <%= f.submit "search" %>
    <% end %>
</div>

<%= render partial: 'user/all_users', format: :erb %>
