<div class="container pt-5">
  <div class="row d-flex">
    <div class="col-sm-4 border">
      <div class="rounded-circle border">img</div>
    </div>
    <div class="col-sm-8 border">
      <h1>One of three columns</h1>
      <h4>Junior Full Stack</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 p-0">
      <div class="border">
        <h3>Contact</h3>
        <p>Address</p>
        <p>phone</p>
        <p>email</p>
        <p>linkedIn</p>
      </div>
      <div class="border">
        <h3>Skills</h3>
        <p>HTML</p>
        <p>css</p>
        <p>rails</p>
        <p>etc</p>
      </div>
      <div class="border">
        <h3>Languages</h3>
        <p>PT</p>
        <p>EN</p>
        <p>FR</p>
        <p>ES</p>
      </div>
    </div>
    <div class="col-sm-8 border p-0">
      <div class="border">
        <h3>Profil</h3>
        <p>Nisi culpa exercitation amet cupidatat sint amet voluptate duis culpa Lorem.</p>
      </div>
      <div class="border">
        <h3>Job Experiences</h3>
        <h4>Post title :</h4>
        <h5>Location</h5>
        <p>description</p>
        <p>description</p>
        <p>description</p>
      </div>
      <div class="border">
        <h3>Formation</h3>
      </div>
      <div class="border">
        <h3>Degree name :</h3>
        <h4>School Name  /  Location  / date-start -- date-end</h4>
      </div>
    </div>
  </div>
</div>






















 
