.navbar {
    background-color: black;

    .navbar-control {
        .navbar-collapse {
            margin-right: -50px;
        }
    }

    .learn-about {
        margin-right: -100px;
    }

    .navbar-nav {
        margin-left: -50px;
    }

    .navbar-toggler {
        background-color: white;
    }

    .navbar-collapse {
        display: flex;
        justify-content: center;

        .nav-item {
            padding: 20px;

            a {
                color: white;
                font-weight: bold;
            }

            a:hover {
                border: 1px solid #c5cc48;
                box-shadow: 0px 0px 15px 0px rgba(87, 176, 112, 1);
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
                margin: -1px;
            }
        }
    }

    .right-brand {
        background: linear-gradient(90deg, rgba(87, 176, 112, 1), #c5cc48);
        text-align: center;
        padding: 0px 10px 0px 10px;
        text-decoration: none;
        font-weight: bold;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    .right-brand:hover {
        background: linear-gradient(90deg, rgba(87, 176, 112, 0.705), #c5cc48b4);
        color: rgba(233, 233, 233, 0.63);
    }
}
