//*= require_tree ./components/pages
//*= require_tree ./components

@import "bootstrap";

body{
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 2%, rgba(29,9,121,1) 83%, rgba(2,0,36,1) 100%);
}
.alert{
    position: absolute;
}
