//*= require_tree ./components/pages
//*= require_tree ./components

@import "bootstrap";
@import "font-awesome";


body{
    background: rgb(31, 31, 31);
    color: white;
}
.alert{
    position: absolute;
}
