.customer-logos{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .slide img{
        width: 55%;
        padding-bottom: 9px;
    }
}

.list-group-item{
    z-index: 999;
}

.main-section-profile-information{
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 2%, rgba(29,9,121,1) 83%, rgba(2,0,36,1) 100%);
    color: white;

    .information-profile-container-control{
        height: 50vh;
        margin-right: 17vw;
    }
}

