.mini-language-image{
  background-color: #1e1e1e;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  padding: 5px;

  .item{
    max-width: 50px;
    max-height: 40px;
  }
}

.profile-data{
  background-color: #1e1e1e;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;

  .user-heading{
    max-height: 200px;
    background-color: #0D0D0D;
    overflow: hidden;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;


    .profile-user-img{
      width: 100%;
      border-radius: 28px;
      -webkit-border-radius: 28px;
      -moz-border-radius: 28px;
      -ms-border-radius: 28px;
      -o-border-radius: 28px;
    }
  }
  .user-status{
    background-color: #0D0D0D;
    width: 100%;
    text-align: center;
    margin: 0;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
  }
}


.profile-user-info{
  padding-right: 0px !important;
  .panel{


    .bio-graph-heading{
      content: "";
      background-color: #1e1e1e;
      height: 74px;
      padding: 20px;
      border-radius: 26px;
      -webkit-border-radius: 26px;
      -moz-border-radius: 26px;
      -ms-border-radius: 26px;
      -o-border-radius: 26px;
    }

    .bio-graph-info{
      height: 19vh;
      background-color: #1e1e1e;
      padding: 20px;
      border-radius: 26px;
      -webkit-border-radius: 26px;
      -moz-border-radius: 26px;
      -ms-border-radius: 26px;
      -o-border-radius: 26px;
    }

  }
}


.user-settings{
  background-color: #1e1e1e;
  padding: 15px;
  color: white;
  margin-top: 10px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;

  .settings-options{
    display: flex;
    justify-content: center;

    li{
      background-color: #0D0D0D;
      margin: 10px;
      padding: 5px;
      border-radius: 7px;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      -ms-border-radius: 7px;
      -o-border-radius: 7px;

      a{
        color: white;
      }
    }
  }
}

.title-degree{
  background: linear-gradient(90deg, rgba(87, 176, 112, 1), #c5cc48);
  margin-top: 10px;
  border-radius: 7px;
  text-align: center;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.control-create-degree{
  display: flex;
  justify-content: flex-start;
  margin: 0;
}






/* PROJECTS + JOBS */

.projects-part{
  background-color: #1e1e1e;
  padding: 10px;
  height: 345px;
  overflow: scroll;
  overflow-x: hidden;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  .projects-title{
    background: linear-gradient(90deg, rgba(87, 176, 112, 1), #c5cc48);
    border-radius: 7px;
  }

  .list-group-item{
    background-color: #000000;
    margin-top: 10px;
    border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    -o-border-radius: 10px !important;


    .project-name{
      background-color: #1e1e1e;
      padding: 5px 5px 5px 15px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border-radius: 14px;
      -webkit-border-radius: 14px;
      -moz-border-radius: 14px;
      -ms-border-radius: 14px;
      -o-border-radius: 14px;
    }

    a{
      background-color: #1e1e1e;
      padding: 10px;
      margin: 0px;
      border-radius: 14px;
      -webkit-border-radius: 14px;
      -moz-border-radius: 14px;
      -ms-border-radius: 14px;
      -o-border-radius: 14px;
      height: fit-content;
      margin-left: 10px;
      text-decoration: none;
    }

    .show-btn{
      font-weight: bold;
    }
    .delete-btn{
      color: red;
      font-weight: bold;
    }
    .show-btn:hover,
    .delete-btn:hover{
      background-color: rgba(94, 94, 94, 0.623);
    }
  }
}

.projects-part::-webkit-scrollbar {
  border-radius: 10px;
  width: 5px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.projects-part::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);
}







.user_hide_info {
  visibility: hidden;
}

///GALERIA
img {
  max-width: 100%;
}

.gallery-diploma {
  padding: 57px ;
}

.gallery-diploma img {
  padding: 5px;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

#gallery-modal .modal-img {
  width: 100%;
}
