.main-profile{
    background-color: blue;
    .split-profile-header{
        height: 10vh;
    }
    .bg-profile{
        .list-group-profile{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 0px;
            border-radius: 20px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            -ms-border-radius: 20px;
            -o-border-radius: 20px;
        }
    }
}

.row-profile-data{
    display: flex;
    justify-content: center;
    width: 90%;
    z-index: 19;
}

.control-info-user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -24vh;
    width: 80%;

    .slider{
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

.profile-user-img{
    width: 100%;
    height: 30.8vh;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.svg-white-profile{
    display: flex;
    justify-content: flex-end;
    &::after{
        content: "";
        width: 1800px;
        height: 1500px;
        background-image: url("https://i.postimg.cc/t42ztvnS/lines-Profile.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        position: absolute;
        bottom: 1px;
        top: -14vh;
        left: 1vw;
        transition: rotate(120deg);
        -webkit-transition: rotate(120deg);
        -moz-transition: rotate(120deg);
        -ms-transition: rotate(120deg);
        -o-transition: rotate(120deg);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 20;
    }
}


//////// CAROUSEL

#wrapper {
    width: 100%;
    max-width: 964px;
    position: relative;
  }

  #carousel {
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }

  #carousel::-webkit-scrollbar {
    height: 0;
  }

  #prev,
  #next {
    display: flex;
    justify-content: center;
    align-content: center;
    background: white;
    border: none;
    padding: 8px;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;
    position: absolute;
  }

  #prev {
    top: 50%;
    left: 0;
    transform: translate(50%, -50%);
    display: none;
  }

  #next {
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
  }

  #content {
    display: grid;
    grid-gap: 16px;
    grid-auto-flow: column;
    margin: auto;
    box-sizing: border-box;
  }

  .item {
    width: 180px;
    height: 180px;
    background: green;
  }

